.ipynb_checkpoints/
Atividade03/flowers/
Atividade04/dataset/
Atividade04/teste_1/
dataset/
Atividade04/dataset.zip
Atividade03/Atv_atributos_transf.zip
Atividade03/topicos_shortPaper_MatheusVictor_ViniciusDias.pdf
Atividade05/__pycache__/
Atividade05/atv5_MatheusVictor_ViniciusDias.zip
Atividade05/oficial_MatheusVictor_ViniciusDias_compressed.pdf
Atividade05/oficial_MatheusVictor_ViniciusDias.pdf
Atividade06/ultrassound/
Atividade06/ultrassound.zip
Atividade06/__pycache__/
Atividade06/results/
Atividade06/imagens.zip
Atividade06/atividade6_visao_MatheusVictor_ViniciusDias.zip
Atividade07/__pycache__/
Atividade07/imagens/
Atividade07/rp/
Atividade07/WhatsApp Image 2023-02-14 at 11.26.44.jpeg
Atividade07/rp.zip
Atividade07/aula9-descriptors.pdf
Atividade07/otsu/
Atividade07/subs/
Atividade07/atv7_MatheusVictor_ViniciusDias.zip
Atividade07/ShortPaper_MatheusVictor_ViniciusDias.pdf
Atividade08/database/
Atividade08/notebook.zip
