.ipynb_checkpoints/
Atividade03/flowers/
Atividade04/dataset/
Atividade04/teste_1/
dataset/
Atividade04/dataset.zip
Atividade03/Atv_atributos_transf.zip
Atividade03/topicos_shortPaper_MatheusVictor_ViniciusDias.pdf
Atividade05/__pycache__/
Atividade05/atv5_MatheusVictor_ViniciusDias.zip
Atividade05/oficial_MatheusVictor_ViniciusDias_compressed.pdf
Atividade05/oficial_MatheusVictor_ViniciusDias.pdf
Atividade06/ultrassound/
Atividade06/ultrassound.zip
Atividade06/__pycache__/
Atividade06/results/