.ipynb_checkpoints/
Atividade-03/flowers/
Atividade-04/dataset/
Atividade-04/teste_1/
dataset/
Atividade-04/dataset.zip
Atividade-03/Atv_atributos_transf.zip
Atividade-03/topicos_shortPaper_MatheusVictor_ViniciusDias.pdf
